/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Oleo Script', cursive;
$headerfont: 'Oleo Script', cursive;
$contentfont: 'Josefin Sans', sans-serif;

$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

$break-small: 736px;
$break-medium: 769px;
// $break-large: 1200px;

html {
  height: 100%;
}

body {
	background-color: #F7F7F7;
	font-family: 'Josefin Sans', sans-serif;
	color: #00476B;
	height: 100%;
	#wrap {
	  min-height: 100%;
		#main {
		  overflow: auto;
		  padding-bottom: 100px; /* this needs to be bigger than footer height*/
			.message {
				text-align: center;
				margin: auto;
		    width: 50%;
        height: 40px;
				@media screen and (max-width: $break-small) {
  		    width: 80%;
          height: 80px;
					margin-bottom: 30px;
				}
				.notice{
					color: #d6e9c6;
					background-color: #468847;
					font-size: 1.25em;
					padding: .5em;
					position: static;
					text-align: center;
					border-radius: 5px;
				}
				.alert{
					color: #eed3d7;
					background-color: #b94a48;
					font-size: 1.25em;
					padding: .5em;
					position: static;
					text-align: center;
					border-radius: 5px;
				}
			}
		}
	}
}

// ************ Nav Bar ************
.navbar {
	border: 0px;
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
		border: 0px;
		.navbar-header {
	    margin-left: 0px;
	    margin-right: 0px;
			.navbar-toggle {
				margin-top: 5px;
				.glyphicon-align-justify {
					color: black;
					top: 0;
				}
			}
		}
		.navbar-brand {
			padding-left: 25px;
			font-family: $headerfont;
			font-size: 1.7em;
			span {
				font-family: $contentfont;
				font-weight: 300;
				font-size: .7em;
				color: black;
			}
		}
		.navbar-collapse {
			border-bottom: 1px solid rgba(#00476b, 0.12);
			.navbar-right {
				font-family: $contentfont;
				font-weight: 300;
				font-size: 1.2em;
				li {
					text-align: center;
					a:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
}

// ************ Page Title ************
.pagetitle {
	text-align: center;
}

// ************ Links ************
#{$a-tags} {
  color: #00476B;
	text-decoration: none;
}

// ************ Footer ************
.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top: 20px;
	ul {
		margin-left: 0px;
		li {
			width: 50px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

// ************ Forms ************
// ************ Common Input Fields ************
.form{
	font-size: 1.3em;
	border-bottom: solid black 1px;
	padding: 2em;
	margin: 1em;
	label {
	  display: block;
	}
	input[type="file"] {
    display: block;
	  width: 100%;
    border: 3px solid #ccc;
    background-color: white;
	}
	input[type="text"],
	textarea {
		text-align: center;
		font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 3px solid #ccc;
  }
  input[type="submit"] {
  	background: transparent;
  	border-radius: 20px;
  	font-size: 2em;
  }
}
