/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$headerfont: 'Oleo Script', cursive;
$contentfont: 'Oswald', sans-serif;

$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

$break-small: 376px;

html {
  height: 100%;
}

body {
	background-color: #F7F7F7;
	font-family: 'Josefin Sans', sans-serif;
	color: #00476B;
	height: 100%;
	#wrap {
	  min-height: 100%;
		#main {
		  overflow: auto;
		  padding-bottom: 100px; /* this needs to be bigger than footer height*/
		}
	}
}

/************ Nav Bar ************/

.navbar {
	border: 0px;
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
		border: 0px;
		overflow: hidden;
		height: 100px;
		.navbar-toggle {
			margin-top: 5px;
			.glyphicon-align-justify {
				color: black;
				top: 0;
			}
		}
		.navbar-brand {
			padding-left: 25px;
			font-family: $headerfont;
			font-size: 1.7em;
			span {
				font-family: $contentfont;
				font-weight: 300;
				font-size: .7em;
				color: black;
			}
		}
		.navbar-right {
			font-family: $contentfont;
			font-weight: 300;
			font-size: 1.2em;
			li {
				text-align: center;
			}
		}
	}
}

/************ Footer ************/

.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top: 20px;
	ul {
		margin-left: 0px;
		li {
			width: 50px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

/************ Notices ************/

.notice{
	background-color: #78D95B;
	height: 40px;
	font-size: 1.25em;
	padding: .5em;
	color: white;
	position: absolute;
}

.alert{
	background-color: #D92F34;
	height: 40px;
	font-size: 1.25em;
	padding: .5em;
	color: white;
	position: absolute;
}

.joinleave{
	font-size: 1.5em;
	/*margin-left: 20%;*/
	font-family: 'Arial';
}

.joinleave a{
	color: #1FE023;
}

#join a{
	font-size: 1.5em;
	color: #1FE023;
}

/************ Links ************/

#{$a-tags} {
  color: #00476B;
}

/************ User Profile Page ************/

.container{
	padding-top: 4em;
}

.event_info{
	text-align: right;
}

.event_title{
	font-family: 'Josefin Sans';
	font-size: 4em;
	/*margin-left: 12em;*/
}

.profilepic{
	padding: 2em;
}

/************ User Profile Page ************/

.pagetitle {
	text-align: center;
}

/************ Devise Forms ************/

.deviseforms {
	width: 500px;
	height: 470px;
	margin: 0 auto;
	text-align: center;
}

.signuplogin {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	text-align: center;
}

/************ Devise Forms ************/

#user_profilepic {
	background-color: #FFFFFF;
	margin: 0 auto;
    text-align: center;
	font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 5px solid #ccc;
}

#user_fname {
	text-align: center;
	font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 5px solid #ccc;
}
#user_lname {
	text-align: center;
	font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 5px solid #ccc;
}
#user_email {
	text-align: center;
	font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 5px solid #ccc;
}
#user_password {
	text-align: center;
	font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 5px solid #ccc;
}
#user_password_confirmation {
	text-align: center;
	font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 5px solid #ccc;
}

/************ Devise Forms ************/

.signuplogin input[type=submit] {
    background: transparent;
  	border-radius: 20px;
  	font-size: 2em;
}
