// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$headerfont: 'Oleo Script', cursive;
$contentfont: 'Josefin Sans', sans-serif;

$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

$break-small: 736px;
$break-medium: 769px;
// $break-large: 1200px;

// ************ Event.New ************
// event.new form -> see application.scss for common form inputs
.row {
	text-align: center;
	.col-sm-4 {
		.eventinfo {
			border: 1px solid rgba(#00476b, 0.12);
			text-align: center;
			padding: 10px;
			h3 {
				font-family: $headerfont;
			}
			h4 {
			  color: black;
			}
		}
	}
	.col-sm-6 {
		h3 {
			color: black;
		}
		.eventform{
			border: 1px solid rgba(#00476b, 0.12);
			text-align: center;
			margin-top: 2em;
			padding: 1em;
			width: 100%;
			select {
				border: 1px solid rgba(#00476b, 0.12);
			}
		}
	}
}

// ************ Events Join/Leave ************
.joinleave{
	font-size: 1.5em;
	font-family: $contentfont;
}

.joinleave a{
	color: #468847;
}

#join a{
	font-size: 1.5em;
	color: #468847;
}


// ************ Event.Show ************
.pagetitle{
	.event-title {
		font-family: $headerfont;
	}
	.eventdescription{
		font-size: 1.5em;
		font-family: $contentfont;
	}
}

.e-container {
	padding-left: 15px;
	padding-right: 15px;
	.is-table {
		margin: 0 auto;
		.attending{
			border: 1px solid rgba(#00476b, 0.12);
			font-size: 1.3em;
			vertical-align: middle;
			padding: 15px;
			@media screen and (max-width: $break-small) {
				margin-bottom: 30px;
			}
		}
		.gmaps {
			#map-container {
				height: 400px;
				border-radius: 16px 16px;
				border-color: #fff;
				border-style: solid;
				border-width: 7px;
			}
			#map-canvas {
				height: 384px;
				width: 100%;
				border-radius: 16px 16px;
			}
		}
	}
}

.thumb_pic{
	padding: 1em;
	padding-right: 0;
	display: inline-block;
}

.mainchat{
	padding: 0;
	background-color: #FBFAFC;
	border: 1px solid rgba(#00476b, 0.12);
	.chatheader{
		height: 35px;
		width: 100%;
		background-color: #99AFEE;
	}
	p {
		display: inline-block;
		margin: 0;
		margin-left: 1em;
		font-size: 1.3em;
	}
	.datetime{
		// float: right;
		margin-right: 1em;
	}
	.chatbreak{
		margin: 1em;
		border-color: #D8D8D8;
	}
	.postbody{
		color: black;
	}
	.comments{
		max-height: 450px;
		max-width: 100%;
		overflow: scroll;
	}
	.chatbox {
	text-align: center;
	padding: 1em;
	max-width: 100%;
	max-height: 200px;
	margin: 0 auto;
	background-color: #FBFAFC;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: 1em;
		#post_body{
			resize: none;
			font-size: 2em;
			text-align: center;
			border: 1px solid rgba(#00476b, 0.12);
	    width: 256px;
		}
		input[type=submit]{
			border: 1px solid #336699;
	    color: #ffffff;
	    background: #336699;
	    padding: 10px 20px;
	    border-radius: 3px;
	  }
	  textarea{
	  	width: 60%;
	  }
	}
}
