// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Oleo Script', cursive;
$headerfont: 'Oleo Script', cursive;
$contentfont: 'Josefin Sans', sans-serif;

$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

$break-small: 736px;
$break-medium: 769px;
// $break-large: 1200px;

// @media screen and (max-width: $break-small) {
// 	margin-bottom: 30px;
// }

// ************ User Profile Page ************
.u-container{
	padding-top: 20px;
	.row {
		padding-left: 20px;
		padding-right: 20px;
	}
	.u-profile {
		border: 1px solid rgba(#00476b, 0.12);
		padding: 10px;
		text-align: left;
		margin-bottom: 20px;
		.profilepic{
			padding-top: 20px;
		}
	}
	.u-events {
		border: 1px solid rgba(#00476b, 0.12);
		text-align: right;
	}
}

// ************ Devise: User.new/User.edit ************
.u-form {
	text-align: center;
	margin-top: 0;
	border: 1px solid rgba(#00476b, 0.12);
	@media screen and (max-width: $break-small) {
		margin-left: 5px;
		margin-right: 5px;
	}
	#user_fname {
		text-align: center;
		font-size: 1.4em;
	  width: 85%;
	  height: 50%;
	  padding: 0;
	  border: 3px solid #ccc;
	}
	#user_lname {
		text-align: center;
		font-size: 1.4em;
	  width: 85%;
	  height: 50%;
	  padding: 0;
	  border: 3px solid #ccc;
	}
	#user_email {
		text-align: center;
		font-size: 1.4em;
	  width: 85%;
	  height: 50%;
	  padding: 0;
	  border: 3px solid #ccc;
	}
	#user_password {
		text-align: center;
		font-size: 1.4em;
	  width: 85%;
	  height: 50%;
	  padding: 0;
	  border: 3px solid #ccc;
	}
	#user_password_confirmation {
		text-align: center;
		font-size: 1.4em;
	  width: 85%;
	  height: 50%;
	  padding: 0;
	  border: 3px solid #ccc;
	}
	#user_current_password {
		text-align: center;
		font-size: 1.4em;
		width: 85%;
		height: 50%;
		padding: 0;
		border: 3px solid #ccc;
	}
	.signuplogin {
		text-align: center;
		input[type=submit] {
			background: transparent;
			border-radius: 20px;
			font-size: 2em;
		}
	}
}
