<div class="p-container container-fluid">
	<div class="row text-center header">
		<p class="p-header">Event Hop</p>
	</div>
	<div class="row text-center">
		<p class="p-tagline">We make planning events around the city fun!</p>
	</div>

	<div class="p-row row text-center">
		<% @places.each do |place| %>
			<div class="col-xs-12 col-sm-12 p-box">
				<%= link_to (image_tag place.avatar.url(:medium), class: "p-images img-responsive center-block", style: 'height:auto;width:100%;'), new_place_event_path(place, continue: new_place_event_path(place)) %>
				<p class="p-title"><%= place.name %></p>
				<p class="p-description"><%= place.description %></p>
			</div>
		<% end %>
	</div>
</div>
